.header {
  @apply z-50 sticky top-0 flex justify-between items-center bg-gray-950 px-container;
  backdrop-filter: blur(50px);

  & .navToggler {
    @apply sm:hidden hover:cursor-pointer;

    & .togglerIcon {
      @apply w-6 aspect-square text-[#800080];
    }
  }
}

.navBar {
  @apply -z-10 absolute top-0 h-screen w-screen sm:w-full sm:h-full gap-8 sm:justify-end justify-center flex flex-col sm:relative sm:flex-row sm:gap-3 lg:gap-8 items-center;
  transition: all 0.3s linear;
}
.hiddenNavBar {
  @apply left-[-110%] sm:left-0;
}
.visibleNavbar {
  @apply left-0 bg-gray-950 w-[75%];
}

.link {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid purple;
  transition: width 0.3s ease-out;
}

.link:hover::before {
  width: 100%;
}

.activeLink {
  @apply opacity-100;
}

.activeLink::before {
  width: 100%;
}
